<h2>マイページ</h2>

<%= link_to "編集する", customers_edit_path %>

<h3>登録情報</h3>
 <div>
     <a>氏名</a>
    <%= @customer.last_name %>
    <%= @customer.first_name %>
 </div>
 <div>
     <a>カナ</a>
     <%= @customer.last_name_kana %>
     <%= @customer.first_name_kana %>
 </div>
 <div>
     <a>郵便番号</a>
     <%= @customer.postal_code %>
 </div>
 <div>
     <a>住所</a>
     <%= @customer.address %>
 </div>
 <div>
     <a>電話番号</a>
     <%= @customer.telephone_number %>
 </div>
 <div>
     <a>メールアドレス</a>
     <%= @customer.email %>
 </div>



<%= link_to "注文履歴", orders_path(@customer) %>

