<h2>注文履歴詳細</h2>

<td>購入者</td>
 <%= link_to admin_customer_path(@order.customer) do%>
　<%= @order.customer.last_name %>
　<%= @order.customer.first_name %>
 <% end %><br />
<td>注文日</td>
 <%= @order.created_at %><br />
<td>配送先</td>
 <%= @order.postal_code %>
 <%= @order.address %>
 <%= @order.name %><br />
<td>支払方法</td>
 <%= @order.payment_method %><br />

<% @order.order_details.each do |order_detail| %>
  <td>商品名</td>
   <%= order_detail.item.name %>><br />
  <td>単価</td>
   <%= order_detail.item.price %><br />
  <td>数量</td>
     <%= order_detail.amount %><br />
  <td>小計</td>
   <%= @order.charge %><br />
<% end %>

  <h3>商品合計</h3>
  　<%= @order.charge %>
  <h3>送料</h3>
  　<%= @order.postage %>
  <h3>請求金額合計</h3>
   <%= @order.charge + @order.postage %><br />
