<h2>注文履歴一覧</h2>
<table>
    <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
    </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
     <td>
         <%= link_to admin_item_path(order) do %>
          <%= order.created_at %>
         <% end %>
     </td>
     <td><%= order.name %></td>
     <% amount = 0 %>
     <% order.order_details.each do |order_detail| %>
      <% amount += order_detail.amount %>
     <% end %>
     <td><%= amount %></td>
    </tr>
   <% end %>

   <%= paginate @orders %>
  </tbody>
</table>
