<h2>注文履歴一覧</h2>
<% @orders.each do |order| %>
  <td>注文日</td>
   <%= order.created_at %><br />
  <td>配送先</td>
   <%= order.postal_code %>
   <%= order.address %>
   <%= order.name %><br />
  <td>注文商品</td>
   <% order.order_details.each do |order_detail| %>
    <%= order_detail.item.name %>
   <% end %><br />
  <td>支払い金額</td>
   <%= order.charge + order.postage %><br />

  <td>注文詳細</td>
   <%= link_to "表示する", order_path(order.id) %>

 <% end %>