<h2>注文履歴詳細</h2>

<p>注文情報</p>
<td>注文日</td>
 <%= @order.created_at %>
<td>配送先</td>
 <%= @order.postal_code %>
 <%= @order.address %>
 <%= @order.name %>
<td>支払方法</td>
 <%= @order.payment_method %>


<p>請求情報</p>
<td>商品合計</td>
 <%= @order.amount %>
<td>配送料</td>
 <%= @order.postage %>
<td>ご請求金額</td>
 <%= @order.charge %>
