<h2>注文履歴詳細</h2>

<p>注文情報</p><br />
<td>注文日</td>
 <%= @order.created_at %><br />
<td>配送先</td>
 <%= @order.postal_code %>
 <%= @order.address %>
 <%= @order.name %><br />
<td>支払方法</td>
 <%= @order.payment_method %><br />


<p>請求情報</p><br />
<td>商品合計</td>
 <%= @order.charge %><br />
<td>配送料</td>
 <%= @order.postage %><br />
<td>ご請求金額</td>
 <%= @order.charge + @order.postage %><br />
